
process {
        withName: 'ANNOTATE' {
            conda = 'bioconda::bakta=1.8.1'    
        }
        withName: 'PREP_NUCDIFF|PREP_VCF_ANNOTATOR|WRANGLING_TO_DB' {
            conda = '// make a conda container'
        }
        withName: 'RUN_NUCDIFF'{
            conda = 'bioconda::nucdiff=2.0.3'
        }
        withName: 'RUN_VCF_ANNOTATOR' {
            conda = 'bioconda::vcf-annotator=0.7'
        }
    }
         