
process {
        withName: 'ANNOTATE' {
            container = 'quay.io/biocontainers/1.8.1--pyhdfd78af_0'
        }
        withName: 'PREP_NUCDIFF|PREP_VCF_ANNOTATOR|WRANGLING_TO_DB' {
            container = 'evezeyl/py_docker' 
        }
        withName: 'RUN_NUCDIFF'{
            container = 'quay.io/biocontainers/nucdiff:2.0.3--pyh864c0ab_1'
        }
        withName: 'RUN_VCF_ANNOTATOR' {
            
        }
    }