/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Config file for defining module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


process {
	withName: 'ANNOTATE' {
		publishDir = [
			[
				path:           { "${params.out_dir}/versions" },
                                mode:           params.publish_dir_mode,
                                pattern:        "bakta.version"
			],
			[
				path:           { "${params.out_dir}/results/bakta" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*"
			]
		]
        }
        /* script version 
        	withName: 'PREPARE_NUCDIFF' {
		publishDir = [
				path: 		{ "${params.out_dir}/versions" },
				mode: 		params.publish_dir_mode,
				pattern:	"prep_nucdiff.version",
		]
	}
        */


        withName: 'RUN_NUCDIFF' {
		publishDir = [
			[
				path:           { "${params.out_dir}/versions" },
                                mode:           params.publish_dir_mode,
                                pattern:        "nucdiff.version"
			],
			[
				path:           { "${params.out_dir}/results/nucdiff" },
                                mode:           params.publish_dir_mode,
                                pattern:        "**"
			]
		]
        }

        /* script version 
        	withName: 'PREPARE_VCF_ANNOTATOR' {
		publishDir = [
				path: 		{ "${params.out_dir}/versions" },
				mode: 		params.publish_dir_mode,
				pattern:	"prep_vcf_annotator.version",
		]
	}
        */


        	withName: 'MLST' {
		publishDir = [
			[
				path:           { "${params.out_dir}/versions" },
                                mode:           params.publish_dir_mode,
                                pattern:        "mlst.version"
			],
			[
				path:           { "${params.out_dir}/results" },
                                mode:           params.publish_dir_mode,
                                pattern:        "mlst_report.tsv",
				saveAs:		{"MLST_report.tsv"}
			]
		]

        
        /* script version 
        	withName: 'WRANGLING_TO_DB' {
		publishDir = [
				path: 		{ "${params.out_dir}/versions" },
				mode: 		params.publish_dir_mode,
				pattern:	"results_to_db.version",
		]
	}
        */


}