/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Config file for defining module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
	withName: 'ANNOTATE' {
		publishDir = [
			[
				path:           { "${params.out_dir}/versions" },
				mode:           params.publish_dir_mode,
				pattern:        "bakta.version"
			],
			[
				path:           { "${params.out_dir}/results/ANNOTATE" },
				mode:           params.publish_dir_mode,
				pattern:        "*"
			]
		]
	}

	withName: 'PREPARE_NUCDIFF' {
        publishDir = [
			[
				path:           { "${params.out_dir}/versions" },
				mode:           params.publish_dir_mode,
				pattern:        "prep_nucdiff.version"
			],
			[
				path:           { "${params.out_dir}/results/PREP_NUCDIFF" },
				mode:           params.publish_dir_mode,
                pattern:        "*"
			]
		]
	}

    withName: 'RUN_NUCDIFF' {
		publishDir = [
			[
				path:           { "${params.out_dir}/versions" },
                mode:           params.publish_dir_mode,
                pattern:        "nucdiff.version"
			],
			[
				path:           { "${params.out_dir}/results/NUCDIFF" },
                mode:           params.publish_dir_mode,
                pattern:        "*"
			]
		]
    }

    withName: 'PREPARE_VCF_ANNOTATOR' {
		publishDir = [
			[
				path:           { "${params.out_dir}/versions" },
                mode:           params.publish_dir_mode,
                pattern:        "prep_vcf_annotator.version"
			],
			[
				path:           { "${params.out_dir}/results/PREP_VCF_ANNOTATOR" },
                mode:           params.publish_dir_mode,
                pattern:        "*"
			]
		]
    }
		
    withName: 'RUN_VCF_ANNOTATOR' {
		publishDir = [
			[
				path:           { "${params.out_dir}/versions" },
				mode:           params.publish_dir_mode,
				pattern:        "vcf-annotator.version"
			],
			[
				path:           { "${params.out_dir}/results/VCF_ANNOTATOR" },
				mode:           params.publish_dir_mode,
				pattern:        "*"
			]
		]
    }

	withName: 'WRANGLING_TO_DB' {
		publishDir = [
			[
				path:           { "${params.out_dir}/versions" },
				mode:           params.publish_dir_mode,
				pattern:        "results_to_db.version"
			],
			[
				path:           { "${params.out_dir}/results/DB" },
				mode:           params.publish_dir_mode,
				pattern:        "*"
			]
        ]
	}
}