/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Config file for defining module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
	// 1. WHAT GOES INTO OUTPUT DIRECTORY AND WHERE
	// versions output 
	withName: 'INPUT_VERSION|ANNOTATE_VERSION|PREPARE_NUCDIFF_VERSION|RUN_NUCDIFF_VERSION|PREPARE_VCF_ANNOTATOR_VERSION|RUN_VCF_ANNOTATOR_VERSION|WRANGLING_TO_DB_VERSION' {
		publishDir = [
				path:           { "${params.out_dir}/versions" },
				mode:           params.publish_dir_mode,
				pattern:        "*.version"
			]
	}


	//input check and reformating input
	withName: 'INPUT' {
		publishDir = [
				path:           { "${params.out_dir}/results/INPUT" },
				mode:           params.publish_dir_mode,
				pattern:        "*.csv"
			]
	}
	/*
	// PIPELINE
	withName: 'ANNOTATE' {
		publishDir = [
				path:           { "${params.out_dir}/results/ANNOTATE" },
				mode:           params.publish_dir_mode,
				pattern:        "*"
			]
	}

	withName: 'PREPARE_NUCDIFF' {
        publishDir = [
				path:           { "${params.out_dir}/results/PREP_NUCDIFF" },
				mode:           params.publish_dir_mode,
                pattern:        "*"
			]
	}

    withName: 'RUN_NUCDIFF' {
		publishDir = [
				path:           { "${params.out_dir}/results/NUCDIFF" },
                mode:           params.publish_dir_mode,
                pattern:        "*"
			]
    }

    withName: 'PREPARE_VCF_ANNOTATOR' {
		publishDir = [
				path:           { "${params.out_dir}/results/PREP_VCF_ANNOTATOR" },
                mode:           params.publish_dir_mode,
                pattern:        "*"
			]
    }
		
    withName: 'RUN_VCF_ANNOTATOR' {
		publishDir = [
				path:           { "${params.out_dir}/results/VCF_ANNOTATOR" },
				mode:           params.publish_dir_mode,
				pattern:        "*"
			]
    }

	withName: 'WRANGLING_TO_DB' {
		publishDir = [
				path:           { "${params.out_dir}/results/DB" },
				mode:           params.publish_dir_mode,
				pattern:        "*"
			]
	}
	*/
}