
process {
        withName: 'ANNOTATE' {
            conda = '/home/vi2067/.conda/envs/bakta'    
        }
        withName: 'PREP_NUCDIFF|PREP_VCF_ANNOTATOR|WRANGLING_TO_DB' {
            conda = '/home/vi2067/.conda/envs/py_test'
        }
        withName: 'RUN_NUCDIFF'{
            conda = '/home/vi2067/.conda/envs/nucdiff'
        }
        withName: 'RUN_VCF_ANNOTATOR' {
            conda = '/home/vi2067/.conda/envs/vcf-annotator'
        }
    }
         