/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NorwegianVeterinaryInstitute/DPI Nextflow test config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
    nextflow run NorwegianVeterinaryInstitute/DPI -profile test_DPI,<docker/singularity/conda> --out_dir <OUTDIR>

------------------------------------------------------------------------------------------------------------
*/

params {
	config_profile_name        = 'test_DPI_github'
	config_profile_description = 'Test 1 pair - Minimal test to check pipeline function for the DPI track'

	// Limit resources for GitHub actions
	max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'


	// Input and parameters
	track		= "DPI"
	input		= "${projectDir}/assets/data/single_test.csv"
	sqlitedb    = "DPI_Github_test.sqlite"
	
	// Bakta Annotation options
	baktaDB         = "?"
	training    	= "Listeria_monocytogenes.trn"
	genus           = "Listeria"
    species         = "monocytogenes"
	comment         = "'test DPI GITHUB'"
	debugme         = true

}


