/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NorwegianVeterinaryInstitute/DPI Nextflow test config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
    nextflow run NorwegianVeterinaryInstitute/DPI -profile test_DPI,<docker/singularity/conda> --out_dir <OUTDIR>

------------------------------------------------------------------------------------------------------------
*/

params {
	config_profile_name        = 'Test DPI'
	config_profile_description = 'Minimal test dataset to check pipeline function for the DPI track'

	// Limit resources for GitHub actions
	max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

	// Input and parameters
	track		= "DPI"
	input		= "https://raw.githubusercontent.com/NorwegianVeterinaryInstitute/DPI/main/assets/data/singlepairsheet.csv"

}