/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NorwegianVeterinaryInstitute/DPI Nextflow local test config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
    nextflow run NorwegianVeterinaryInstitute/DPI -profile test_DPI_local,<docker/singularity/conda> --out_dir <OUTDIR>

------------------------------------------------------------------------------------------------------------
*/

params {
	config_profile_name        = 'Test DPI Local'
	config_profile_description = 'Minimal test dataset (local from github repo) to check pipeline function for the DPI track'

	// Limit resources 
	max_cpus   = 2
    max_memory = '1.GB'
    max_time   = '1.h'

	// Input and parameters
	track		= "DPI"
	input		= "./assets/pairsheet_local.csv"
	
	// Annotation options
    //baktaDB         = "/run/media/evezeyl/4T/DATABASES/bakta/db" //cliff
    //trainingFILE    = "/run/media/evezeyl/4T/DATABASES/Listeria_monocytogenes.trn" //cliff
	baktaDB         = "//mnt/blue/DATA/BIOINFO_LOCAL/bakta_database/db" //work
	trainingFILE    = "/mnt/blue/DATA/BIOINFO_LOCAL/Listeria_monocytogenes.trn" //work
	genus           = "Listeria"
    species         = "monocytogenes"

}