/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NorwegianVeterinaryInstitute/DPI Nextflow local test config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
    nextflow run NorwegianVeterinaryInstitute/DPI -profile test_DPI_local,<docker/singularity/conda> --out_dir <OUTDIR>

------------------------------------------------------------------------------------------------------------
*/

params {
	config_profile_name        = 'Test DPI Saga'
	config_profile_description = 'Minimal test dataset (local from github repo) to check pipeline function for the DPI track'

	// Limit resources 
	max_cpus   = 4
    max_memory = '1.GB'
    max_time   = '4.h'

	// Input and parameters
	track		= "DPI"
	input		= "./assets/singlepair_saga.csv"
	
	// Bakta Annotation options
	baktaDB         = "/cluster/projects/nn9305k/db_flatfiles/bakta_db_v5/db"
	trainingFILE    = "/cluster/projects/nn9305k/db_flatfiles/prodigal/Listeria_monocytogenes.trn"
	genus           = "Listeria"
    species         = "monocytogenes"
	comment         = "'test saga'"
	debugme         = true

}

