/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NorwegianVeterinaryInstitute/DPI Nextflow local test config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
    nextflow run NorwegianVeterinaryInstitute/DPI -profile test_DPI_local,<docker/singularity/conda> --out_dir <OUTDIR>

------------------------------------------------------------------------------------------------------------
*/

params {
	config_profile_name        = 'Test DPI SAGA'
	config_profile_description = 'Test 3 pairs - to check pipeline function for the DPI track - config for SAGA'

	// Limit resources 
	max_cpus   = 8
    max_memory = '16.GB'
    max_time   = '24.h'

	// Input and parameters
	track		= "DPI"
	input		= "${projectDir}/assets/data/three_test.csv"
	sqlitedb    = "DPI_test.sqlite"
	
	// Bakta Annotation options
	baktaDB         = "/cluster/projects/nn9305k/db_flatfiles/bakta_db_v5/db"
	training    	= "/cluster/projects/nn9305k/db_flatfiles/prodigal/Listeria_monocytogenes.trn"
	genus           = "Listeria"
    species         = "monocytogenes"
	comment         = "'DPI test'"
	debugme         = true

}

