/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NorwegianVeterinaryInstitute/DPI Nextflow local test config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
    nextflow run NorwegianVeterinaryInstitute/DPI -profile test_DPI_local,<docker/singularity/conda> --out_dir <OUTDIR>

------------------------------------------------------------------------------------------------------------
*/

params {
	config_profile_name        = 'Test DPI Local'
	config_profile_description = 'Minimal test dataset (local from github repo) to check pipeline function for the DPI track'

	// Limit resources 
	max_cpus   = 2
    max_memory = '1.GB'
    max_time   = '1.h'

	// Input and parameters
	track		= "DPI"
	input		= "./assets/pairsheet_local.csv"
	
	// Bakta Annotation options
	baktaDB         = "/mnt/blue/DATA/BIOINFO_LOCAL/bakta_database/db"
	trainingFILE    = "/mnt/blue/DATA/BIOINFO_LOCAL/Listeria_monocytogenes.trn"
	genus           = "Listeria"
    species         = "monocytogenes"
	comment         = "'test work'"
	debugme         = true

}